#!/bin/bash

# .plist hash: {{ include "private_Library/private_Preferences/private_com.lwouis.alt-tab-macos.plist" | sha256sum }}

echo "Applying Alt-Tab configurations..."

# Import the settings
defaults import com.lwouis.alt-tab-macos "$HOME/Library/Preferences/com.lwouis.alt-tab-macos.plist"

# Restart the app
killall AltTab 2>/dev/null && open -a AltTab
